*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  }
  @font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
    --clr-primary-nutmeg: hsl(14, 45%, 36%);
    --clr-primary-darkraspberry: hsl(332, 51%, 32%);
    --clr-neutral: hsl(0, 0%, 100%);
    --clr-rosewhite: hsl(330, 100%, 98%);
    --clr--eggshell: hsl(30, 54%, 90%);
    --clr-lightgrey: hsl(30, 18%, 87%);
    --clr-wengebrown: hsl(30, 10%, 34%);
    --clr-darkcharcoal: hsl(24, 5%, 18%);
}


body{
    min-height: 100vh;
    line-height: 1.5;
}


h1,h2{
    font-family: "Young Serif";
    font-weight: 400;
    margin-bottom: 1rem;
}

p,ul{
    font-family: "Outfit";
    color: var(--clr-wengebrown);
    font-size: 0.93rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img{
    max-width: 100%;
    display: block;
}

/* .textbox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
} */

.textbox .title h1{
    color: var(--clr-darkcharcoal);
}
.prep-time{
    background:var(--clr-rosewhite);
    padding: 1rem 2rem;
    border-radius: 0.5rem;

}
.prep-ul li::marker{
    color:var(--clr-primary-darkraspberry);

}
.darkraspberry{
    color: var(--clr-primary-darkraspberry);
    font-size: 1.1rem;
}


ul,ol{
    padding-left: 2rem;
    margin: 1rem 0;
    font-family: "Outfit";
}

li{
    margin: 0.7rem;
    padding-left: 0.5rem;
    margin-right: 0;
}

.brown{
    color: var(--clr-primary-nutmeg);
}
.brown-ul li::marker{
    color:var(--clr-primary-nutmeg);
    font-weight: bold;
}
li b{
    color: var(--clr-wengebrown);
}
hr{
    border: 0.5px solid var(--clr-lightgrey);
    margin: 0.5rem 0;
}
.nutrition-list{
    margin-top: 2rem;
}
.nutrition-list dt {
    margin-left: 1.9rem;
    width: 31.5vw;
}
.nutrition-list dt, .nutrition-list dd {
    display: inline-block;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

@media (max-width:375px){
    .textbox{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
    }
    p,ul,dl{
        font-family: "Outfit";
        font-size: 0.5rem;
        color: var(--clr-wengebrown);
    }
}

@media (min-width: 23.5rem){
body {
    background-color: var(--clr--eggshell);
    display: flex;
    justify-content: center;
}
.container{
    background-color: var(--clr-neutral);
    max-width: 45rem;
    padding: 2.3rem;
    margin: 8rem 0;
    border-radius: 1rem;
}
img{
    border-radius: 0.5rem;
}
p,ul,dl{
    font-family: "Outfit";
    font-size: 1rem;
    color: var(--clr-wengebrown);
}
.textbox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding: 0 2rem; */
}
dt{
    max-width:19rem;
    margin-left: 1.9rem;
}
}